@{
	ViewData["Title"] = "Check In Complete";
}

<div class="text-center">
	<h1 class="display-4">Check In Complete</h1>
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>
